	body {
background-color: #D1F2EB;
}

a:hover {
color: grey;
}

img {
border-color:#AED6F1;
border-width: 5px;
border-style: solid;
}

.topnav {
	background: #5DADE2;
	height: 25px;
	width: 100%;
}
.topnav a.active {
	color: white;
}
table, th, td {
border: 1px;
border-style: solid;
border-color: black;
}
th, td {
	padding-top: 10 px;
	padding-bottom: 10 px;
	padding-right: 20 px;
	padding-left: 20 px;
}
th {
	text-align: left;
}
h1 {
	text-align: center;
	border-style: solid;
	border-color:#AED6F1;
	border-width: 10px;
}